/bot-flask/
/bot_api_docker/
/Bot_for_en/
/Bot_for_en — копия/
/Django_example/
/my_favorite_films/
/radis_python/
/SQLAlchemy_py/
/age/.idea/.gitignore
/BD_BOT/.idea/.gitignore
/Bot/.idea/.gitignore
/DiSpaceWarSimulation/.idea/.gitignore
/DispaceWarTextEdition/.idea/.gitignore
/GUI_custom_Tkinter/.idea/.gitignore
/Regex/.idea/.gitignore
/age/.idea/age.iml
/BD_BOT/.idea/BD_BOT.iml
/Bot/.idea/Bot.iml
/Bot/bot.sql
/DiSpaceWarSimulation/.idea/DiSpaceWar.iml
/DispaceWarTextEdition/.idea/DispaceWarTextEdition.iml
/Bot/English Level test. Grammar.csv
/Bot/EnglishBot.py
/Bot/EnglishBot_new.py
/GUI_custom_Tkinter/.idea/GUI_custom_Tkinter.iml
/DiSpaceWarSimulation/HUMAN.py
/age/main.py
/DispaceWarTextEdition/main.py
/GUI_custom_Tkinter/main.py
/Regex/main.py
/Bot/miniTest.csv
/age/.idea/misc.xml
/BD_BOT/.idea/misc.xml
/Bot/.idea/misc.xml
/DiSpaceWarSimulation/.idea/misc.xml
/DispaceWarTextEdition/.idea/misc.xml
/GUI_custom_Tkinter/.idea/misc.xml
/Regex/.idea/misc.xml
/age/.idea/modules.xml
/BD_BOT/.idea/modules.xml
/Bot/.idea/modules.xml
/DiSpaceWarSimulation/.idea/modules.xml
/DispaceWarTextEdition/.idea/modules.xml
/GUI_custom_Tkinter/.idea/modules.xml
/Regex/.idea/modules.xml
/age/.idea/inspectionProfiles/profiles_settings.xml
/BD_BOT/.idea/inspectionProfiles/profiles_settings.xml
/Bot/.idea/inspectionProfiles/profiles_settings.xml
/DiSpaceWarSimulation/.idea/inspectionProfiles/profiles_settings.xml
/DispaceWarTextEdition/.idea/inspectionProfiles/profiles_settings.xml
/GUI_custom_Tkinter/.idea/inspectionProfiles/profiles_settings.xml
/Regex/.idea/inspectionProfiles/profiles_settings.xml
/DiSpaceWarSimulation/.idea/inspectionProfiles/Project_Default.xml
/Bot/ReadFile.py
/Regex/.idea/Regex.iml
/DiSpaceWarSimulation/Simulation.py
/BD_BOT/SQL_BOT.py
/Bot/SQL_BOT.py
/DiSpaceWarSimulation/STORAGE.py
/Bot/Survey.py
/Bot/TODO
/Bot/User.py
/Bot/users.csv
/Bot/WriteFile.py
